*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    min-height: 100%;
    position: relative;
}

h1,h2,h3,h4,h5,h6{
  text-align: center;
  margin: auto;
}
body{
    font-family: sans-serif, Arial, Helvetica;
    margin: 0;  
    margin-bottom: 0;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(2) {
  width: 15%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 20%;
}

thead th:nth-child(5) {
  width: 15%;
}
thead th:nth-child(6) {
  width: 15%;
}

th, td {
  padding: 20px;
}

thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

thead, tfoot {
  background: url(leopardskin.jpg);
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 3px solid purple;
}

tbody tr:nth-child(odd) {
  background-color: #3361a7;
}

tbody tr:nth-child(even) {
  background-color: #2d36ac;
}

table {
  background-color: #e5eaec;
}

header{
    background-color: rgba(183, 183, 189, 0.333);
    width: 100%;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-left{
    font-size: 8px;
    text-align: center;
    line-height: 80px;
    width: 200px;
    height: 90px;
    margin-left: 90px;
}
.header-center{
    line-height: 80px;
    width: 250px;
    height: 90px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: url(../img/logo_principal.jpg);
    background-size: cover;
}

.header-right{
    margin-right: 90px;
    width: 350px;
    height: 90px;
    padding-top: 10px;
}
.formulario .caja2{
    margin-right: 59px;
}

.inicioSesion{
    margin: 5px;
    margin-right: 0px;
    font-size: 14px;
    color: red;
}
.boton-usuario{
    margin: 5px 0px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: lightblue;
    height: 40px;
}

.navegacion{
    flex-grow: 10;
}
.dropdown_session{
    background-color: rgb(187, 38, 38);
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.dropdown_session a{
    color: white !important;
}

.dropbtn {
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown a{
     color: blue;
     font-weight: 700;
     text-decoration: none;
  }

  .cerrar_sesion{
      color: white !important;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }
  
  .dropdown-content a {
    color: blue;
     font-weight: 500;
     background-color: lightblue;
     padding: 5% 10%;
    text-decoration: none;
    display: block;
    z-index: 3;
  }
  
  .dropdown-content a:hover {
      background-color: rgb(114, 114, 245);
      color:white;
      transition: all .3s;
      
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
    transition: all .3s;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #69d46d;
    color: white;
    font-size: 18px;
    transition: all .3s;
  }
/*
.padre{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}*/

.section{
    display: flex;
    background-color: rgb(243, 239, 239);
}

.articulos{
    flex:20 1 auto;
}

.articulo{
    border: 2px solid rgb(213, 235, 243);
    flex:1 1 auto;
    margin: 20px;
    padding: 20px;
    border: 1px solid rgb(95, 208, 212);
    box-shadow: 6px 6px 6px teal;
}
.respuestaRegistro{
    background-color: rgb(167, 76, 76);
    color:white;
}



.aside{
    background-color:rgba(249, 249, 252, 0.918);
    color: black;
    border-left: 1px solid rgb(59, 169, 212);
    /*flex:1 1 auto;*/
    padding: 20px;
    min-width: 390px;
}
.aside > form{
    border: 1px solid rgb(68, 96, 128);
    padding: 5px 10px;
    border-radius: 10%;
    box-shadow: royalblue;
    background-size: 100% 100%;
  background-repeat: no-repeat;
  background: url(../img/fondo_rayado.png);
  background-size: cover;
}

.articulos_aside{
    width: 300px;
    padding: 10px;
}

.articulos_aside > h3{
    text-align: center;
    margin: auto;
}

.articulos_seleccionados{
    width: 100%;
    height: 300px;
    border: 1px solid rgb(59, 169, 212);
    border-radius: 7px;
    padding: 10px;
    background-color:rgba(249, 249, 252, 0.918);
}

.articulos_seleccionados > a{
    width: 100%;
    height: 300px;
    display: block;
}

aside.aside > .articulos_aside > .articulos_seleccionados{
    background-size: 200px 200px;
    background-size: 100% 100%;
  background-repeat: no-repeat;
  background: url(../img/logo_simbolo.png);
  background-size: cover;
}

.aside > form > h2{
    text-align: center;
}


.aside > form > .registrar_usuario{
    width: 200px;
    height: 25px;
}


.btn{
    margin-left: 140px;
    font-weight: 700;
    font-size: 16px;
    color:rgb(23, 183, 231);
    border: 1px solid rgb(15, 155, 236);
    border-radius: 13px;
    padding: 3px 8px;
}
.btn:hover{
    color:white;
    background-color: rgb(108, 209, 108);
}



 .footer{
  background-color: black;
  color:white;
  width: 100% !important;
  text-align: center;
  position: relative;
  height: 35px !important;
  bottom: 0;
  width: 900px;
}
     /*  para que el footer no sea arrastrado por el aside se usa el clear para limpiar los lados. Recordar que los bordes en section 
     y en aside afectan que no se pueda flotar. Por tanto, si en elementos se agrega bordes y no se quiere aumentar el tamaño del
     elemento se requiere utilizar la opción de "box-sizing: border-box;" , sirve solo en el mismo elemento y no colocarlo en body.
     Finalmente formatee todos los elementos a margin 0, padding 0 y que tengan la propiedad box-sizing: borderbox; que es mucho 
     mejor, porque como no se hereda, sería cacho escribirla en cada elemento a la hora de hacer borde*/
     /*clear: both;*/
 
 /*   
 Curso flexbox:
 Se comienda en el contenedor de los elementos a ordenar con un display: flex;
 El contenedor entonces se comportará como en bloque. Para que se comporte como inline se debe colocar display: inline-flex;
 De esta manera se pueden colocar otros elementos al lado del contenedor al comportarse de forma inline.
 Con flex-direction se ordenan los items dentro del contenedor. El valor por defecto es flex-direction: row;
 Pero se pueden ordenar en columnas flex-direction: column; también se pueden ordenar de manera invertida...con 
 flex-direction: row-reverse;  o  flex-direction: column-reverse;
 Otro elemento importante es el flex-wrap que lo que hace es ver si se mantiene el tamaño de los items internos o no. Por defecto no 
 está activado, por tanto si colocamos muchos elementos dentro del mismo contenedor este lo tratará de mostrar en una misma fila, 
 aunque se vean mal los items, pero si lo activamos pues el contenedor puede generar más filas para que se muestren bien los items
 con este código flex-wrap: wrap;
 */
.div{
    height: 300px;

}